body {
    color: #333;
    font-family: "Noto Sans KR", sans-serif;
}

.main_product {
    padding: 120px 0;
}

.main_product .title {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 15px;
}

.main_product .title h2 {
    font-size: 48px;
    font-weight: 700;
}

.main_product .title p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.main_product .inner {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 40px;
    max-width: 1050px;
}

.main_product .inner .itm {
    flex: 1;
}

.main_product .itm .img_box {}

.main_product .itm .txt_box {
    margin-top: 16px;
}

.main_product .itm .txt_box strong {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.main_product .itm .txt_box p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.main_product .itm .txt_box em {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}